<div>
    <div *ngIf="user" class="profile-container">
        <h1>{{ user.name }}</h1>
        <img [src]="user.profilePicture" alt="{{ user.name }}" class="profile-picture">
        <p>Bio: {{ user.bio }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Role: {{ user.role }}</p>

        <button (click)="showUpdateForm = !showUpdateForm" class="update-button">Edit Profile</button>


    <div *ngIf="showUpdateForm" class="update-form-container">
        <h2>Edit Profile</h2>
        <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
            <label for="name">Name:</label>
            <input id="name" formControlName="name" type="text">

            <label for="profilePicture">Profile Picture URL:</label>
            <input id="profilePicture" type="file" (change)="onFileSelected($event)">

            <label for="bio">Bio:</label>
            <input id="bio" formControlName="bio" type="text">

            <label for="email">Email:</label>
            <input id="email" formControlName="email" type="email">

            <label for="password">Update Password:</label>
            <input id="password" formControlName="password" type="password">

            <label for="cpassword">Confirm Password:</label>
            <input type="password" formControlName="cpassword" id="cpassword">

            <button type="submit" [disabled]="updateUserForm.invalid">Save Changes</button>
        </form>

      
    </div> 

       