<div>
    <div *ngIf="user" class="profile-container">
        <h1>{{ user.name }}</h1>
        <img [src]="user.profilePicture" alt="{{ user.name }}" class="profile-picture">
        <p>Bio: {{ user.bio }}</p>
        <p>Email: {{ user.email }}</p>
        <button (click)="showUpdateForm = !showUpdateForm" class="update-button">Update Profile</button>


    <div *ngIf="showUpdateForm" class="update-form-container">
        <h2>Update Profile</h2>
        <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
            <label for="name">Name:</label>
            <input id="name" formControlName="name" type="text">

            <label for="profilePicture">Profile Picture URL:</label>
            <input id="profilePicture" formControlName="profilePicture" type="text">

            <label for="bio">Bio:</label>
            <input id="bio" formControlName="bio" type="text">

            <label for="email">Email:</label>
            <input id="email" formControlName="email" type="email">

            <button type="submit" [disabled]="updateUserForm.invalid">Save Changes</button>
        </form>
    </div> 

        <!-- <p-button (click)="showDialog()" label="Show" />
        <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
            <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
            <span class="p-text-secondary block mb-8">Update your information.</span>

            <div class="flex items-center gap-4 mb-4">
                <label for="name" class="font-semibold w-24">Name</label>
                <input pInputText id="name" class="flex-auto" formControlName="name" autocomplete="off" />
            </div>
            <div class="flex items-center gap-4 mb-8">
                <label for="email" class="font-semibold w-24">Email</label>
                <input pInputText id="email" class="flex-auto" formControlName="email" autocomplete="off" />
            </div>

            <div class="flex items-center gap-4 mb-8">
                <label for="profilePicture" class="font-semibold w-24">profilePicture</label>
                <input pInputText id="profilePicture" class="flex-auto" formControlName="profilePicture" autocomplete="off" />
            </div>

            <div class="flex items-center gap-4 mb-8">
                <label for="bio" class="font-semibold w-24">bio</label>
                <input pInputText id="bio" class="flex-auto" formControlName="bio" autocomplete="off" />
            </div>

            <div class="flex justify-end gap-2">
                <p-button label="Cancel" severity="secondary" (click)="visible = false" />
                <p-button label="Save" type="submit" [disabled]="updateUserForm.invalid" (click)="visible = false" />
            </div>
        </form>
        </p-dialog>
    </div>
</div> -->