<!-- <app-generic-list 
  [items]="lessons"
  [displayUpdateDialog]="displayUpdateDialog"
  [selectedItemId]="selectedLessonId"
  [itemFields]="['id','title','videoUrl','duration','courseId']"
  [itemLabels]="['Id','Title','Video URL','Duration','Course Id']"
  (itemUpdated)="onLessonUpdated()"
  (itemAdded)="onLessonAdded()"
  (itemDeleted)="deleteLesson($event)"
  (cancel)="onCancel()"
>

  <ng-container update-form>
    <app-updatelesson [lessonId]="selectedLessonId" (lessonUpdated)="onLessonUpdated()" (cancel)="onCancel()"></app-updatelesson>
  </ng-container>

  <ng-container add-form>
    <app-addlessons (lessonAdded)="onLessonAdded()" (cancel)="onCancel()"></app-addlessons>
  </ng-container>

</app-generic-list> -->



<button pButton type="button" label="Add" (click)="openAddDialog()"></button>
<p-table [value]="lessons" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Video URL</th>
          <th>Duration</th>
          <th>Course Id</th>
          <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lesson>
        <tr>
        <td>{{lesson.id}}</td>
          <td>{{ lesson.title }}</td>
          <td>{{ lesson.videoUrl }}</td>
          <td>{{ lesson.duration }}</td>
          <td>{{ lesson.course.id }}</td>
          <td>
            <button pButton type="button" label="Update" (click)="openUpdateDialog(lesson.id)"></button>
            <button pButton type="button" label="Delete" (click)="deleteLesson(lesson.id)"></button>
          </td>
        </tr>
    </ng-template>
  </p-table>

  <p-dialog header="Update Lesson" [(visible)]="displayUpdateDialog" [modal]="true"   [style]="{ width: '25rem' }">
    <app-updatelesson [lessonId]="selectedLessonId" (lessonUpdated)="onLessonUpdated()" (cancel)="onCancel()"></app-updatelesson>
  </p-dialog>

<p-dialog header="Add Lesson" [(visible)]="displayAddDialog" [modal]="true" [closable]="false">
    <app-addlessons (lessonAdded)="onLessonAdded()" (cancel)="onCancel()"></app-addlessons>
</p-dialog> 