<app-generic-list 
  [items]="lessons"
  [itemFields]="['id','title','videoUrl','duration', 'course.id' ]"
  [itemLabels]="['Id','Title','Video URL','Duration','Course Id']"
  (addItem)="refresh()"
  (updateItem)="onOpenUpdate($event)"
  (deleteItem)="deleteLesson($event)"
>

  <ng-container add-form>
    <app-addlessons (lessonAdded)="refresh()"></app-addlessons>
  </ng-container>
  

</app-generic-list>


<p-dialog header="Update Item" [(visible)]="displayUpdateDialog" [modal]="true">
  <app-updatelesson [lessonId]="selectedLessonId" (lessonUpdated)="refresh()"></app-updatelesson>
</p-dialog>


