<div class="update-lesson-container" class="p-fluid">
  <h2>Update Lesson</h2>
  
    <form [formGroup]="updateLessonForm" (ngSubmit)="onSubmit()">
      <label for="title">Title:</label>
      <input id="title" pInputText formControlName="title" type="text">
  
      <label for="videourl">Video URL:</label>
      <input id="videourl" pInputText formControlName="videoUrl" type="text">

      <label for="duration">Duration:</label>
      <input id="duration" pInputText formControlName="duration" type="text">
  
      <div class="p-dialog-footer">
        <button pButton type="button" label="Cancel" (click)="onCancel()"></button>
        <button pButton type="submit" label="Update"></button>
      </div>
      <!-- <button type="submit" [disabled]="updateLessonForm.invalid">Update lesson</button> -->
    </form>
  </div>