<div class="header text-center my-6 relative">
    <div class="title text-6xl font-bold mb-1 text-white">EDUCONNECT</div>
    <div class="subtitle text-4xl font-bold mb-4 text-white">Connecting You to Quality Education</div>
    <p class="description mt-0 mb-3 line-height-3 text-center mx-auto text-white" style="max-width: 500px;">
        Discover a wide range of courses designed to help you achieve your educational goals. Join our community of learners and start your journey today!
    </p>
    <div class="button-container flex align-items-center justify-content-center flex-wrap">
        <button class="explore-button p-3 mt-3 text-sm w-8rem border border-white text-white hover:text-gray-700 transition duration-200 hover:bg-white"
            (click)="navigateTo('/home/courses')">Explore Courses</button>
    </div>
</div>
