<!-- <div>
    <label for="name" id="name">Name: </label>
    <input type="text" placeholder="Enter your name" id="name" [(ngModel)]="name" required>

    <label for="email" id="email">Email: </label>
    <input type="email" placeholder="Enter your email" id="email" [(ngModel)]="email" required>

    <label for="data_of_birth" id="data_of_birth">Date of Birth: </label>
    <input type="date" id="data_of_birth" [(ngModel)]="data_of_birth" required>

    <button (click)="enroll(); $event.stopPropagation()" class="enroll-button">Enroll</button>
</div> -->

<button (click)="enroll(); $event.stopPropagation()" class="enroll-button">Enroll</button>