<nav class="navbar">
    <div class="left-section">
        <a routerLink="/home" class="nav-link">Home</a>

        <input type="text" pInputText placeholder="Search courses..." class="search-bar" [(ngModel)]="searchValue"  (ngModelChange)="searchCourses($event)" />
      
        <div *ngIf="isLoggedIn">
            <a routerLink="/quiz/progress" class="nav-link">Progress</a>
            <a routerLink="/quiz/managequiz" class="nav-link">Manage Quiz</a>
        </div>


        <div *ngIf="isTeacher || isAdmin" class="course-dropdown">
            <button pButton type="button" label="Course Settings" class="dropbtn" (click)="toggleCourseDropdown()"></button>
            <div class="dropdown-content" *ngIf="courseDropdownOpen">
                <a routerLink="/course/courselist" class="nav-link">Manage Course</a>
                <a routerLink="/course/lessonlist" class="nav-link">Manage Lessons</a>
            </div>
        </div>


        <!-- <div *ngIf="isAdmin">
 
            <a routerLink="/admin/admin-dash" (click)="showSidebar()">Admin DashBoard</a>
        </div> -->
        
    </div>

    <div class="right-section">
        <div *ngIf="isLoggedIn" class="profile-dropdown">
            <button pButton type="button" label="Profile" icon="pi pi-user" class="dropbtn" (click)="toggleProfileDropdown()"></button>
            <div class="dropdown-content" *ngIf="profileDropdownOpen">
                <a routerLink="/home/profile">My Profile</a>
                <a routerLink="/home/mylearnings">My Learnings</a>
                <button (click)="logout()">Logout</button>
            </div>
        </div>  

      
        <div *ngIf="!isLoggedIn">
            <button pButton type="button" label="Login" routerLink="/auth/login"></button>
            <button pButton type="button" label="Register" routerLink="/auth/register"></button>
        </div>
    </div>
</nav>
