<nav class="navbar">
    <div class="left-section">
        <a routerLink="/home" class="nav-link">Home</a>

        <div *ngIf="isLoggedIn">
            <input type="text" pInputText placeholder="Search courses..." class="search-bar" [(ngModel)]="searchValue"  (ngModelChange)="searchCourses($event)" />
        </div>

        <div *ngIf="isTeacher || isAdmin" class="course-dropdown">
            <button pButton type="button" label="Course Settings" class="dropbtn" (click)="toggleCourseDropdown()"></button>
            <div class="dropdown-content" *ngIf="courseDropdownOpen">
                <a routerLink="/course/courselist" class="nav-link">Manage Course</a>
                <a routerLink="/course/lessonlist" class="nav-link">Manage Lessons</a>
                <a routerLink="/quiz/managequiz" class="nav-link">Manage Quizzes</a>
            </div>
        </div>
      
        <div *ngIf="isLoggedIn">
            <div *ngIf="!isTeacher && !isAdmin">
                <a routerLink="/quiz/progress" class="nav-link">Your Progress</a>
            </div>
            
            <div *ngIf="isAdmin || isTeacher" class="course-dropdown">
                <button pButton type="button" label="User Settings" class="dropbtn" (click)="toggleUserDropdown()"></button>
                <div class="dropdown-content" *ngIf="userDropdownOpen">
                    <a routerLink="/quiz/user-progress" class="nav-link">See User Progress</a>
                    <a routerLink="/admin/user-enrollments" class="nav-link">See User Enrollments</a>
                    <div *ngIf="isAdmin">
                        <a routerLink="/admin/userList" class="nav-link">Manage Users</a>
                    </div> 
                </div>
            </div>

         </div>
    </div>

    <div class="right-section">
        <div *ngIf="isLoggedIn" class="profile-dropdown">
            <button pButton type="button" label="Profile" icon="pi pi-user" class="dropbtn" (click)="toggleProfileDropdown()"></button>
            <div class="dropdown-content" *ngIf="profileDropdownOpen">
                <a routerLink="/home/profile">My Profile</a>
                <a routerLink="/home/mylearnings">My Learnings</a>
                <button (click)="logout()">Logout</button>
            </div>
        </div>  

      
        <div *ngIf="!isLoggedIn">
            <button pButton type="button" label="Login" routerLink="/auth/login"></button>
            <button pButton type="button" label="Register" routerLink="/auth/register"></button>
        </div>
    </div>
</nav>
