<div class="course-list" id="courseList">
    <div *ngFor="let course of courses" class="course-card" (click)="viewCourse(course.id)">
    <img src="{{ course.thumbnail }}" alt="{{ course.title }}" class="course-thumbnail">
      <div class="course-details">
        <h2 class="course-title">{{ course.title }}</h2>
        <p class="course-description">{{ course.description }}</p>
        <div class="course-footer">
          <span class="course-price">₹{{ course.price }}</span>
          <span class="course-rating">Rating: {{ratings[course.id]| number:'1.1-1' }}</span>
          <div *ngIf="!isEnrolled(course.id)">
            <button (click)="enroll(); $event.stopPropagation()" class="enroll-button">Enroll</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  