
<!-- <div style="display: flex; justify-content: flex-end; margin-bottom: 1rem;">
  <input type="text" pInputText placeholder="Search..." [(ngModel)]="searchText" (input)="filterProgress()">
</div> -->
<input type="text" pInputText placeholder="Search..." [(ngModel)]="searchText" (input)="filterProgress()">


<p-table [value]="filteredProgress" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
          <th>User ID</th>
          <th>User Name</th>
          <th>Score</th>
          <th>Total Question</th>
          <th>Quiz Title</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-progress>
        <tr>
          <td>{{ progress.user.id }}</td>
          <td>{{ progress.user.name }}</td>
          <td>{{ progress.score }}%</td>
          <td>{{ progress.total }}</td>
          <td>{{ progress.quiz.title }}</td>
        </tr>
    </ng-template>
  </p-table>