
<div [ngStyle]="{'display': 'flex', 'justify-content': 'flex-end', 'margin-bottom': '1rem','margin':'1rem'}">
  <input type="text" pInputText placeholder="Search..." [(ngModel)]="searchText" (input)="filterEnrollments()"/>
</div>

<p-table [value]="filterEnrolls" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
          <th>User ID</th>
          <th>User Name</th>
          <th>Enrollment Date</th>
          <th>Course</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-enrollment>
        <tr>
          <td>{{ enrollment.user.id }}</td>
          <td>{{ enrollment.user.name }}</td>
          <td>{{ enrollment.enrollment_date }}</td>
          <td>{{ enrollment.course.title }}</td>
        </tr>
    </ng-template>
  </p-table>

<div *ngIf="filterEnrolls.length === 0" [ngStyle]="{'text-align':'center'}">
  <p-progressSpinner></p-progressSpinner>
</div>