div {
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

[add-form] {
  margin-bottom: 2rem; 
}

.separator {
  margin: 2rem 0; 
  border: none;
  border-top: 1px solid #ddd;
}

