<div *ngIf="lesson" class="lesson-detail">
    <h1>{{ lesson.title }}</h1>
    <video width="320" height="240"  class="lesson-videourl" autoplay muted>
      <source src="lesson.videoUrl" type="video/mp4">
    </video>
    <!-- <video [src]="lesson.videoUrl" type="video/mp4" class="lesson-videourl"></video> -->
    <div class="lesson-meta">
      <span>Duration: {{ lesson.duration }} minutes</span>
    </div>

</div>
    <!-- <button (click)="enroll(lesson.lesson_id)" class="enroll-button">Enroll</button> -->
    <!-- <button (click)="updatelesson(lesson.id)" class="enroll-button">Update</button> -->


  