<app-generic-list 
  [items]="users"
  [displayUpdateDialog]="displayUpdateDialog"
  [displayAddDialog]="displayAddDialog"
  [selectedItemId]="selectedUserId"
  [itemFields]="['id', 'name', 'email', 'role']"
  [itemLabels]="['Id', 'Name', 'Email', 'Role']"
  (itemUpdated)="onUserUpdated()"
  (itemDeleted)="deleteUser($event)"
  (cancel)="onCancel()"
  (openUpdate)="openUpdateDialog($event)"
  (openAdd)="openAddDialog()"
>

  <ng-container update-form>
    <app-update-user 
      [userId]="selectedUserId" 
      (userUpdated)="onUserUpdated()" 
      (cancel)="onCancel()">
    </app-update-user>
  </ng-container>

</app-generic-list>


<!-- 
<p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button pButton type="button" label="Update" (click)="openUpdateDialog(user.id)"></button>
          <button pButton type="button" label="Delete" (click)="deleteUser(user.id)"></button>
        </td>
      </tr>
  </ng-template>
</p-table>

<p-dialog header="Update User" [(visible)]="displayUpdateDialog" [modal]="true" [closable]="false">
  <app-update-user [userId]="selectedUserId" (userUpdated)="onUserUpdated()" (cancel)="onCancel()"></app-update-user>
</p-dialog>
 -->
