<div *ngIf="course" class="course-detail">
    <h1>{{ course.title }}</h1>
    <img [src]="course.thumbnail" alt="{{ course.title }}" class="course-thumbnail">
    <p>{{ course.description }}</p>
    <div class="course-meta">
      <span>Price: ₹{{ course.price }}</span>
    </div>

    
    <!-- enroll button-->
    <div *ngIf="!isEnrolled(course.id) && isLoggedIn">
      <button pButton (click)="openEnrollmentDialog(course)"  class="enroll-button">Enroll to this course</button>
    </div>
    
    <p-dialog header="Enroll" [(visible)]="showEnrollDialog" [modal]="true">
      <app-enroll [course]="selectedCourse" (enrollSuccess)="refreshEnrollments()" (cancel)="closeEnrollmentDialog()" (closeDialog)="closeEnrollmentDialog()"></app-enroll>
    </p-dialog>

    <!-- <div *ngIf="showEnrollDialog" class="enrollment-dialog-overlay">
        <app-enroll [course]="selectedCourse" (enrollmentCompleted)="refreshEnrollments()" (cancel)="closeEnrollmentDialog()" (closeDialog)="closeEnrollmentDialog()"></app-enroll>
    </div> -->

    <div *ngIf="!isLoggedIn" >
      <!-- Please login to enroll to this course -->
      <button (click)="enroll()" pInputText>Enroll</button>
    </div>


    
    <!-- lesson and quizzes -->
    <div *ngIf="isEnrolled(course.id)">
          <h2>Lessons</h2>
          <div *ngIf="lessons.length === 0" class="no-lessons">No lessons found!</div>
          <div *ngFor="let lesson of lessons" class="lesson-card" (click)="viewLesson(lesson.id)">
            <div class="lesson-details">
              <h2 class="lesson-title">{{ lesson.title }}</h2>
              <span class="lesson-duration">{{ lesson.duration }} min</span>
            </div>
              <p-checkbox (click)="checked(); $event.stopPropagation()" [binary]="true"/>
            <!-- <label><input type="checkbox" [(ngModel)]="lesson.completion" (change)="checkCourseCompletion()">Completed></label> -->
      </div>
      <!-- <p *ngIf="courseCompleted">Course Completed!</p -->
  

          <h2>Quizzes</h2>
         <div *ngIf="quizzes.length===0" class="no-quizzes">No Quiz Found</div>
          <div *ngFor="let quiz of quizzes" class="quiz-card" (click)="TakeQuiz(quiz.id)">
            <div class="quiz-details">
              <h2 class="quiz-title">{{ quiz.title }}</h2>
            </div>
          </div>  
    </div>

  

    <!-- reviews -->
    <div>
      <h2>Course Reviews</h2>
      <div *ngIf="reviews.length === 0" class="no-reviews">No reviews found!</div>
      <div *ngFor="let review of reviews" class="review-card">
        <p>{{ review.comment }}</p>
        <span class="review-author">By: {{ review.user.name }}</span>
        <!-- <span class="review-rating">Rating: {{ review.rating }}</span> -->
        <div class="card flex justify-center">
          <p-rating [(ngModel)]="review.rating" [readonly]="true" />
        </div>

        <div *ngIf="isReviewUserSame(review.user.id)">
          <button (click)="deleteReview(review.id)" pInputText class="delete-review-button">Delete</button>
          <button (click)="updateReviewDialog(review)" pInputText class="edit-review-button">Edit</button>

          <p-dialog header="Update Review" [(visible)]="displayUpdateReviewDialog" [modal]="true">
            <app-update-review [review]="selectedReview" (reviewUpdated)="refreshReviews()"></app-update-review>
          </p-dialog>
          <!-- 
          <div *ngIf="review" class="update-review-form">
            <app-update-review [review]="selectedReview" (reviewUpdated)="refreshReviews()" (cancel)="CancelUpdateReview()"></app-update-review>
          </div> -->
        </div>

    </div>


    <!-- add a review -->
    <div *ngIf="isEnrolled(course.id)">
      <!-- <ng-container add-form>
        <app-add-review [courseId]="selectedCourseId" (reviewAdded)="refreshReviews()"></app-add-review>
      </ng-container>   -->
      <button (click)="addReviewDialog()" pButton>Add a review</button>
      <p-dialog header="Add Review" [(visible)]="displayAddReviewDialog" [modal]="true">
        <app-add-review [courseId]="selectedCourseId" (reviewAdded)="refreshReviews()"></app-add-review>
      </p-dialog>
      
    </div>


</div>




    
  